@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;900&display=swap");
:root {
  --currencyPrefix: "$";
}

body {
  overflow-x: hidden;
  color: #666;
  left: 0;
  padding: 0;
  margin: 0 auto;
  position: relative;
  transition: ease all 0.3s;
}
body * {
  font-family: "Roboto Condensed", sans-serif;
}
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
}
body a {
  color: #666;
  text-decoration: none;
}
body ul,
body li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h2 {
  font-weight: 900;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  font-size: 20px;
  font-weight: bold;
}
ul li:hover {
  cursor: pointer;
}
#container {
  display: flex;
}

#filter {
  display: inline-block;
  min-width: 200px;
  padding: 0px 5px;
}
.contenedorCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#root {
  margin: 0 auto;
  padding: 3rem;
}
.card {
  width: 300px;
  transition: ease all 0.3s;
}
.card.esFav .wrapper .infoProd .actions .action.aFavs {
  transform: rotateX(360deg) scale(1.2);
}
.card.esFav .wrapper .infoProd .actions .action.aFavs svg path,
.card.esFav .wrapper .infoProd .actions .action.aFavs svg circle {
  fill: #fff;
  transition-delay: 0.2s;
}
.card.enCarrito .wrapper .infoProd .actions .action.alCarrito .inCart {
  transform: scale(1);
}
.card.enCarrito .wrapper .infoProd .actions .action.alCarrito .outCart {
  transform: scale(0);
}
.card .wrapper {
  padding-top: 300px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 20px 10px rgba(29, 29, 29, 0.1);
  transition: ease all 0.3s;
}
.card .wrapper:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.card .wrapper .colorProd {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
}
.card .wrapper .imgProd {
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: calc(100% - 300px);
  width: 100%;
  height: 300px;
  transition: ease all 0.3s;
}
.card .wrapper .infoProd {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 170px;
  padding: 20px;
  box-sizing: border-box;
}
.card .wrapper .infoProd p {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
.card .wrapper .infoProd .nombreProd {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.card .wrapper .infoProd .extraInfo {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card .wrapper .infoProd .actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-top: auto;
  padding-top: 10px;
}
.card .wrapper .infoProd .actions .preciosGrupo {
  flex-grow: 1;
  position: relative;
}
.card .wrapper .infoProd .actions .preciosGrupo .precio {
  font-family: "Roboto", sans-serif;
  color: #1d1d1d;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}
.card .wrapper .infoProd .actions .preciosGrupo .precio.precioOferta {
  position: absolute;
  left: 0;
  top: -15px;
  color: red;
  font-size: 15px;
  text-decoration: line-through;
}
.card .wrapper .infoProd .actions .preciosGrupo .precio.precioOferta:before {
  font-size: 12px;
}
.card .wrapper .infoProd .actions .preciosGrupo .precio:before {
  content: var(--currencyPrefix);
  font-size: 20px;
}
.card .wrapper .infoProd .actions .action {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: 15px;
  width: 35px;
  height: 35px;
  position: relative;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
  cursor: pointer;
  color: #1d1d1d;
}
.card .wrapper .infoProd .actions .action svg {
  position: absolute;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
}
.card .wrapper .infoProd .actions .action svg path,
.card .wrapper .infoProd .actions .action svg circle {
  stroke: currentColor;
  fill: transparent;
  transition: ease all 0.3s;
}
.card .wrapper .infoProd .actions .action.aFavs {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 25px;
  height: 25px;
  color: #fff;
}
.card .wrapper .infoProd .actions .action.alCarrito svg.inCart {
  transform: scale(0);
}
